<!doctype html>
<html>
<head>
  <title></title>
</head>
<body>
  <h1> Hello, world! </h1>

  <h2> Current bookings </h2>

  <ul>
    <% bookings.forEach(function (theBooking) { %>
      <li>
        <p> People: <%= theBooking.people %> </p>
        <p> Time: <%= theBooking.time %> </p>
      </li>
    <% }); %>
  </ul>

  <a href="/bookings/new">
    Book your dream sailing trip now!
  </a>
</body>
</html>
